# Python  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  
.Python  
env/  
venv/  
.venv/  
pip-log.txt  
pip-delete-this-directory.txt  
.pytest_cache/  
.coverage  
.coverage.*  
.cache  
.pytest_cache/  
  
# Secrets  
.env  
*.env  
hxh.json  
  
# IDE  
.idea/  
.vscode/  
.DS_Store  
